<html>
  {{!-- <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head> --}}
  <head>
  {{! doesn't work :( vvv }}
  <link
    rel="shortcut icon"
    type="image/jpg"
    href="/images/acebook-logo.jpg"
  />
  </head>
  <body>
    <nav>
      <ul>
        {{#if isAuthenticated}}
          <li><a href="/posts">Posts Timeline</a></li>
          <li><a class="new-post-link" href="/posts/new">Create New Post</a></li>
          <li><a href="/users/{{user.username}}">Profile</a></li>
          <li><a href="/sessions/logout">Logout</a></li>
          <li class="login-username">Logged in as: {{{user.username}}}</li>
          {{!-- {{else}}
        <li><a href="/sessions/login">Login</a></li>
        <li><a href="/users/signup">Sign-up</a></li> --}}
        {{/if}}
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
