<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/postindex.css" />
</head>

<h1 class="timeline-title">Posts Timeline</h1> 

<div class="wrapper-posts">
  {{#each posts}}
   
    <ul class="posts">
     
      <div class="field">
        <li class="date">â™¤ Created at: {{{formatDate this}}}</li>
        <br>
        <li class="username">â™¤ Created By: {{{this.username}}}</li>
        <br />
        <li class="content">â™¤ Post Content: {{{this.message}}}</li>
        <br />
        <li class="likes">{{{this.like.length}}} {{{if_equal this}}}</li>
      </div>


        <form id="likes-form" action="/posts/{{this._id}}/likes" method="post">
          <div class="field">
          <input type="submit" value="like ðŸ‘" />
          </div>
        </form>


    </ul>
    <br />
  {{/each}}
</div>