<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/postindex.css" />
</head>

{{!-- <h1 class="timeline-title">Posts Timeline</h1>  --}}

<div class="wrapper-posts">
  {{#each posts}}
   
    <ul class="posts">
     
      <div class="field">
        <li class="date">Created at: {{{formatDate this}}}</li>
        <br />
        <li class="username">Created By: {{{this.username}}}</li>
        <br />
        <li class="content">Post Content: {{{this.message}}}</li>
        <br />
        <li class="likes">{{{this.like.length}}} {{{if_equal this}}}</li>
      </div>

      <div class="field">
        <form id="likes-form" action="/posts/{{this._id}}/likes" method="post">
          <input type="submit" value="like ðŸ‘" />
        </form>
      </div>

    </ul>
    <br />
  {{/each}}
</div>